body {
  margin: 0;
  padding: 0;
  background-color:#f8f9ff;
}

@media (width < 576px) {

  .banner-wrapper, .orchestra-wrapper {
    flex-direction: column-reverse;
  }
  .integrate-wrapper {
    flex-direction: column;
  }
  h1.text-highlight {
    font-size: 2.5rem;
    text-align: center;
  }
  #hero {
    background-position: center;
    height: 70vh;
  }
  .banner-text {
    max-width: 100%;
  }
  .hero-description {
    font-family: var(--fontDesc);
    font-size: var(--fontSizeDescM);
    line-height: var(--LineHDesc);
    color: var(--colorDesc);
  }
  .feature-wrapper div {
    width: 100%;
    padding: 2% 2%;
  }
  .img-list{
    width: 100%;
    height: 5vh;
  }
  .orchestra-desc {
    width: 100%;
  }
  .highlight-right, .desc-right {
    text-align: center;
  }
  .integrate-image {
    background-image: url('/public/assets/image/integrate-1.png');
    width: 100%;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


@media (min-width: 769px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1200px) {

}
@media (min-width: 1201px) {
  .banner-text {
    align-self: center;
    max-width: 40%;
  }
  .hero-description {
    font-family: var(--fontDesc);
    font-size: var(--fontSizeDesc);
    line-height: var(--LineHDesc);
    color: var(--colorDesc);
  }
  .feature-wrapper div {
    width: 20%;
    padding: 2% 0;
  }
  .img-list{
    width: 50%;
    height: 9.5vh;
  }
  .orchestra-desc {
    width: 40%;
  }
  .highlight-right, .desc-right {
    text-align: right;
  }
  .integrate-image {
    background-image: url('/public/assets/image/integrate-1.png');
    width: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.banner-wrapper {
  margin: 0 8px;
}
.banner-wrapper {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.img-banner {
  width: 100%;
  height: 80vh;
}
.hero {
  background-image: url('/public/assets/image/banner2-remove.png');
  width: 100%;
  height: 85vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .hero-description {
  font-family: var(--fontDesc);
  font-size: var(--fontSizeDesc);
  line-height: var(--LineHDesc);
  color: var(--colorDesc);
} */
/* .banner-text {
  align-self: center;
  max-width: 40%;
} */
.text-highlight {
  font-size: 4rem;
  margin: 0;
}
.feature-list {
  background-color: #1053f3;
}
.feature-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
/* .feature-wrapper div {
  width: 20%;
  padding: 2% 0;
} */
/* .img-list{
  width: 50%;
  height: 9.5vh;
} */
#orchestra {
  margin: 5% 0;
}
.orchestra-wrapper {
  display: flex;
  margin: 0 8px;
  justify-content: space-evenly;
}
/* .orchestra-desc {
  width: 40%;
} */
.integrate-wrapper {
  display: flex;
  margin: 0 8px;
}
/* .integrate-image {
  background-image: url('/public/assets/image/integrate-1.png');
  width: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
} */
.img-thumbs {
  width: 100%;
}

#integrate {
  background-color: #ffffff;
  padding: 10% 0;
}
/* .highlight-right, .desc-right {
  text-align: right;
} */
#our-client {
  padding: 5% 0;
}
.client-wrapper {
  display: flex;
  flex-direction: column;
}
.client-text {
  text-align: center;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
footer {
  padding: 2% 0;
  background-color:#1053f3;
}
