
  .section-padding{
   padding:60px 0;
  }
  
  .owl-item img {
    height: 12vh;
  }

  @media (width < 576px) {
    .brand-carousel {
      z-index: 0;
    }
  }

  @media (min-width: 577px) and (max-width: 768px) {
    .brand-carousel {
      z-index: 0;
    }
  }
  
  @media (min-width: 769px) and (max-width: 991px) {
  
  }
  @media (min-width: 992px) and (max-width: 1200px) {
  
  }
  @media (min-width: 1201px) {
  
  }